<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="PerfilesSA_DB"
			 connectionString="Data Source=localhost;Initial Catalog=PerfilesSA_DB;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="PerfilesSA.Servicios.ServicioEmpleado">
				<endpoint address="" binding="basicHttpBinding" contract="PerfilesSA.Contratos.IServicioEmpleado" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
			<service name="PerfilesSA.Servicios.ServicioDepartamento">
				<endpoint address="" binding="basicHttpBinding" contract="PerfilesSA.Contratos.IServicioDepartamento" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>

		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true" />
		<directoryBrowse enabled="false" />
	</system.webServer>

</configuration>